tr {
    display: flex;
    gap: 1.2rem;
    margin-top: 3.2rem;
}

td {
    height: 7.2rem;
}

.icon {
    width: 7.2rem;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 1.6rem;
    background-color: #eeeeee;

    padding: 1.2rem;
}

.content {
    padding: 1.6rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.content a {
    font-size: 1.6rem;
    text-decoration: none;
    color: black;
}

.content span {
    font-size: 1.2rem;
}
