tr {
    display: flex;
    gap: 1.2rem;
    margin-top: 3.2rem;
}

td {
    height: 7.2rem;
}

.icon {
    width: 7.2rem;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 1.6rem;
    background-color: #eeeeee;

    padding: 1.2rem;
}

.content {
    padding: 1.6rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.admin-content {
    padding: 1.6rem;
    gap: 12px;
    display: flex;
    justify-content: space-between;
}

.admin-content a {
    font-size: 1.6rem;
    text-decoration: none;
    color: #66BBFF;
    height: fit-content;
}

.content a {
    font-size: 1.6rem;
    text-decoration: none;
    color: black;
}

.content span {
    font-size: 1.2rem;
}

form {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

input {
    width: 20rem;
    height: 3rem;
    font-size: 1.6rem;
    color: black;
    border-radius: 0.8rem;
    border: 0.1rem black solid;
    background-color: white;
    padding: 0.4rem 0.8rem;
}

#submit {
    background-color: #66BBFF;
    color: white;
}

a {
    text-decoration: none;
    color: black;
}
