@import "main.css";

.container {
    display: flex;
    justify-content: center;
    align-items: flex-start;

    height: 50%;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 30rem;
    padding: 4rem 4rem;
    gap: 2rem;
}

form input {
    width: 20rem;
    height: 3rem;
    font-size: 1.6rem;
    color: black;
    border-radius: 0.8rem;
    border: 0.1rem black solid;
    background-color: white;
    padding: 0.4rem 0.8rem;
}

form div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

label {
    font-size: 1.6rem;
}

#submit {
    background-color: #66BBFF;
    color: white;
    width: 12rem;
}
