*:not(mjx-container):not(mjx-container *):not(code) {
    font-family: Helvetica, serif;
}

mjx-container, mjx-container * {
    font-weight: 300;
    font-size: 1.6rem;
}

html {
    font-size: 62.5%;
}

body {
    margin: 5rem 15rem;
}

h1 {
    font-size: 5.6rem;
    font-weight: normal;
}

h2 {
    font-size: 3.2rem;
    font-weight: normal;
}

code {
    font-family: monospace;
    background-color: #eeeeee;
    border-radius: 0.4rem;
    padding: 0.2rem;
}
