* {
    font-size: 1.4rem;
}

main {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.problem {
    max-width: 72rem;
}

.label-title {
    display: flex;
    gap: 3.2rem;
}

textarea {
    display: block;
    font-family: monospace;
    resize: none;
    border-radius: 1.2rem;
    padding: 1.2rem;
}

#submit {
    padding: 0.8rem 1.2rem;
    border-radius: 0.8rem;
    border: 0.1rem black solid;
    margin-top: 1.2rem;
}

#submit:hover {
    background-color: black;
    color: white;
}

p, li {
    font-size: 1.4rem;
    line-height: 2.6rem;
}

h3 {
    font-size: 2.4rem;
    font-weight: normal;
}

tr, td, th {
    width: 48rem;
    text-align: left;
    padding: 1.2rem 0.8rem;
}

td code {
    background-color: white;
}

th {
    background-color: #eeeeee;
    border-radius: 0.8rem;
    font-size: 1.4rem;
    font-weight: normal;
}
